@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');

html{
    --bg: #FCFCFC;
    --base:#6e6aee;
    --font1:rgb(38, 41, 43);
    --font2: #6e6aee;
    --div-color:#f4f4f4;
    --div-color2:#c5c3f8;
    --box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    --box-shadow1:11px 17px 25px -12px rgba(0,0,0,0.4);
    --box:rgb(49, 55, 59);
    --modal:rgb(0,0,0,0.5);
}

/* variables for dark mode */
html[data-theme='dark'] {
    --bg: #212047;
    --base:#7672ff;
    --font1:#e4e3ff;
    --font2: #9a97f3;
    --div-color:#635fd6;
    --box-shadow:0px 0px 3px 1px rgba(0,0,0,0.49);
    --box:#42408f;
    
}

body{
    margin:0;
    font-family: 'Montserrat', sans-serif;
    background:var(--bg);
}

p{
    font-size: .9em;
    line-height: 1.6em;
}

h2{
    margin-top:1em;
}

ul{
    list-style-type: none;
    margin:0;
    padding:0;
}
a:focus{
    outline: none;
}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

/* Dark mode toggle switch */

label[for=switch] {
	cursor: pointer;
	text-indent: -9999px;
	width: 52px;
	height: 27px;
	background: grey;
	float: right;
	border-radius: 100px;
	position: relative;
}

label[for=switch]:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input[type="checkbox"]:checked + label[for=switch] {
	background: var(--base);
}

input[type="checkbox"]:checked + label[for=switch]:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label[for=switch]:active:after {
	width: 45px;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}
.container{
    display:grid;
    grid-template-areas:
    "graphics"
    "call-to-action"
    "showcase"
    ;
    margin:4em 1em;
    grid-gap:25px;
    
}


.graphics img{
    width:100%;
    height:100%;
}
.graphics{
    margin-top:.5em;
    padding-top:.5em;
    margin-bottom:0; 
    height:100%;
    grid-area: graphics

}
#exit .fa{
    color:var(--font1);
    cursor: pointer;
    margin-right:.1em;
    margin-top:.1em;
}

.material-icons.md-48 { font-size: 48px;
color: var(--font1); }

.fairness .fa {
    color:var(--font1);
}

.hide-mobile{
    display:none;
}
.hide-desktop .fa {
    font-size:20pt;
    color:var(--font1);
    margin-right: 1em;
    
    
}

.logo{
    width:120px;
    cursor: pointer;
    margin-left: .75em;
}

header{
    display:flex;
    justify-content: space-between;
    margin-top:0;
    padding:.9em .5em .2em .5em;
    position:fixed;
    background:var(--bg);
    width:100%;
    top:0;   
    
}
.call-to-action{
    text-align: center;
    grid-area: call-to-action;
    height:100%;
    width:100%;
}

.showcase{
    
    display:grid;
    grid-template-areas:
    "ease"
    "fairness"
    "flexibility";
    grid-gap: 30px;
    height:100%;
    width:100%;
    grid-area: showcase; 
    margin: 1em auto 3em auto;
}

.ease{
    grid-area:ease;
}
.fairness{
    grid-area:fairness;
}
.flexibility{
    grid-area:flexibility;
}


.feature{
    background:var(--div-color);
    padding:3em;
    text-align:center;
    box-shadow: var(--box-shadow);
    
}

.feature p,h3{
    margin:0;
    padding:0;
    background:none;
    color:var(--font1);

}
.feature h3{
    font-weight:bold;
    text-transform: capitalize;
    padding: 1em 0;
   
}
.feature p{
    font-size:14px;
}
.feature .fa{
    font-size: 48px;
}

.heading{
    font-size:2.4em;
    font-weight:700;
    color:var(--font2);
}

.call-to-action p{
    font-size: 1.4em;
    margin-top:0;
    color:var(--font1);

}
.button{
    text-decoration: none;
    color:var(--bg);
    background: var(--base);
    margin-top:1.7em;
    
    padding: 1.7em;
    display:block;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 1em;
    box-shadow: var(--box-shadow1);
    border-radius:15px;
    font-weight: bold;
    cursor: pointer;
    
}



.toggle-container{
    margin-top:-.5em;
    margin-left:16em;
    position:fixed;
}

footer{
    background:var(--div-color);
    text-align:center ;
    color:var(--font1);
    margin-bottom: 0;
    padding:.2em;
    
    font-weight:bold;
   
    
}

nav ul{
    position: fixed;
    width:60%;
    top:0;
    right:0;
    text-align: left;
    background: var(--div-color);
    opacity:0.89;
    height:80%;
    padding-top: 2em;
    margin-bottom: 2em;
}
nav ul li a{
    color:var(--font1);
    text-decoration: none;
    display: block;
    width:100%;
    text-align:center;
    padding:2em 0;
    font-weight:bold; 
}
.exit-btn{
    margin-bottom: 1em;
    margin-top:-1.4em;
    text-align:right;
    padding:0 1.6em;
    color:var(--font1);
}

header a img:focus{
    outline:none;
}

.register-form{
    display:grid;
    grid-template-rows:.5fr 1fr auto;
    margin:2em 1em;
    grid-template-columns: 300x;
    
}

.confirm--registration{
    background:rgb(68, 211, 151);
    color:white;
    margin:3em 2em;
    padding:1em;
    display:none;
    border-radius:14px;
    text-align:center;
}

.happy-cash{
    width:100%;
    height:100%;
    object-fit:contain ;
    margin-top:1em 0 -5em 0;
    
}
.register-illustration{
    margin-bottom:-2em;
   
}
.form-container{
    background:var(--div-color);
    padding:3em;
    
    box-shadow: var(--box-shadow);
}

.application-modal{
    height:60%;
}
.form-container h1{
    text-align: center;
}
.form-container h1,h2,h3,h4,p{
    color:var(--font1);
}
/* forms */
label[for=firstName],
label[for=tenor],
label[for=lastName],
label[for=email],
label[for=amount],
label[for=payment],
label[for=password],
label[for=address]{
    display: block;
    margin-bottom:.2em;
    text-transform:capitalize; 
    color:var(--font1);
   
}


input[type=email],
input[type=number],
input[type=password],
input[type=text]{
    margin-bottom:1.5em;
    margin-right: 1em;
    display:block;
    background:var(--div-color2);
    border:1px solid var(--base);
    border-radius:16px;
    padding:.4em;
    width:100%;
    color:var(--font1);
}

::placeholder{
    padding-left:1em;
    line-height: 1.7
    
}
input[type=email],
input[type=password],
input[type=text]:focus{
    outline:none;
}
h2{
    text-align:center;
}

button{
    display:block;
    padding:1em 1.7em;
    background:var(--base);
    color:var(--bg);
    border:none;
    margin:2.5em 1em 2em 0;
    text-transform: uppercase;
    border-radius:16px;
    width:100%;
    font-weight: bold;
    box-shadow: var(--box-shadow1);
    cursor: pointer;
    transform: scaleX(1);
    transition: transform ease-in-out .25s;

}
.test{
    display:grid;
    height:100%;
    grid-template-rows: 1fr auto;
}

.repay-loan h2{
    padding-top:-3em;
}

button:focus{
    outline:none;
    transform:scaleX(1.1);
}

#admin-header{
    margin-bottom:3em;
    margin-top:1em;
}
.form p{
    text-align: center;
}
.form p a{
    text-decoration:none;
    font-weight:bold; 
}

.details{
    display:grid;
    grid-template-rows: auto auto 1fr 1fr;
    margin:5em .8em;
}
.details h1{
    text-align: center;
    color:var(--base);
}

.status-bar{
    display:grid;
    background:var(--div-color2);
    grid-template-columns:repeat(2, 1fr); 
    justify-items: center;
    width:100%;
    margin:auto auto;
    grid-gap:25px;
    padding:1em .5em;
    
   
    
}
.application-modal{
    padding-top:3em;
    height:80%; 
}

#repay{
    margin-top:10em;
    
}

.status-bar a{
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    
    font-weight: bold;
    margin:.5em .5em 1em .5em ;
    
    width:100%;
    background:none;

   
    
}
.status-bar a:focus {   
    outline:none;
   
}



.loan-application img{
    width:40%;
    margin-left:8em;
    margin-top:3em;
    
    padding:1em;
    border-radius: 15%;
}

.loan-application{
    text-align:center;
    display:flex;
    flex-direction:column; 
    align-content: center;
    justify-content: center;
}
.loan-application h2{
    text-transform: uppercase;
    font-size: 1.5em;
    margin:2em 0;
}
.loan-application h2 p{
    color:var(--box);

}

.history{
    margin-top:.7em;
    display:grid;
    grid-template-rows: 1fr;
}
.payments h2{
    margin-left: 1em;
    text-align:center;
    text-transform: uppercase;
}
#repay{
    margin-top:1em;
    margin-bottom: 2em;
}

.wrapper{
   
   margin:0;
    
}

.history-content h3{
    font-weight:normal; 
}

.admin{
    margin:7em 1em;

}
.admin-bar{
    display:grid;
    grid-template-columns:repeat(2, 1fr); 
    width:100%;
    margin:0 .5em;
    grid-gap:25px;
    padding:1em .5em;
}
.admin-bar a{
    font-size: 13px; 
    
    width:inherit;
}
.admin h1{
    text-align:center ;
    color:var(--base);
}

.test{
    display:flex;
    min-height:100vh;
    flex-direction: column;
}
.admin h2{
    margin-top:5em;
    text-transform: uppercase;
    margin-bottom:1em;
}
.verify-user{
    margin-top:5em;
    height:100%;
    
}

.verification h3{
    font-weight:normal 
}

.applications h4{
    margin:0;
    font-weight:normal;
    text-transform: capitalize;
    font-size:14px;
    
}
.applications{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    align-content: flex-start;
    justify-items: start;
    padding-left:1em;
    padding-top:1.8em;
    margin:.5em 1em 4em 1em;
}
.loan-repayments{

    margin-top:2em;
}

.fourOfour-page{
    display:grid;
    grid-template-rows: 1fr .5fr;
    margin:8em 2em;
    align-items:center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    text-align: center;

}


.fourOfour-page img{
    width:70%;
}

.fourOfour-content a{
    margin-top:5em;
}

.table{
    margin:8em auto;
}


table{
    width:100%;
    border-collapse: collapse;
    margin: 1em auto;
    overflow:hidden;
    box-shadow: var(--box-shadow);
}

tr:nth-of-type(odd){
    background:var(--div-color);

}
th{
    background:var(--div-color2);
    color: var(--font1);
    font-weight:bold;
    
}

.repay-table td{
    padding: 2em;
}
.applications-table td{
    padding:2em;
}
td {
    padding: 5px;
    font-size:14px;
    text-align:center;
    color:var(--font1);
}
th{
    padding:2em;
}
.approve-btn {
    background: rgb(84, 161, 84);
}
.reject-btn{
    background:rgb(168, 54, 54);
}





@media only screen and (max-width: 800px){
    table, thead, tbody, th, td, tr {
        display:block;
    }
    
    thead tr {
        position: absolute;
        top:-9999px;
        left:-9999px;
    }
    td{
        border:none;
        border-bottom:1px solid rgb(189, 188, 188);
        position:relative;
        padding-left: 200px;
        
        
        
    }

    tr{
        border-bottom: 2em solid #ccc;
    }
    td:before{
        position: absolute;
        top:6px;
        left:6px;
        width:45%;
        padding-right:40px;
        white-space: nowrap;
        padding-right:10px
    }
    
    td:nth-of-type(1):before {
        content: "Email";
    }
    td:nth-of-type(2):before {
        content: "First Name ";
    }
    td:nth-of-type(3):before {
        content: "Last Name";
    }
    td:nth-of-type(4):before {
        content: "Password";
    }
    td:nth-of-type(5):before {
        content: "Address";
    }
    td:nth-of-type(6):before {
        content: "Status";
    }

    
        
        .approve-table td:nth-of-type(1):before {
            content: "LoanId";
        }
        .approve-table td:nth-of-type(2):before {
            content: "Loan Amount";
        }
        .approve-table td:nth-of-type(3):before {
            content: "Tenor";
        }
        .approve-table td:nth-of-type(4):before {
            content: "Status";
        }
        .approve-table td:nth-of-type(5):before {
            content: "Monthly Installment";
        }
        .approve-table td:nth-of-type(6):before {
            content: "Interest";
        }
        .approve-table td:nth-of-type(7):before {
            content: "Approve";
        }
        .approve-table td:nth-of-type(8):before {
            content: "Reject";
        }

        .applications-table td:nth-of-type(1):before {
            content: "Id";
        }
        .applications-table td:nth-of-type(2):before {
            content: "User";
        }
        .applications-table td:nth-of-type(3):before {
            content: "Created On";
        }
        .applications-table td:nth-of-type(4):before {
            content: "Status";
        }
        .applications-table td:nth-of-type(5):before {
            content: "Repaid";
        }
        .applications-table td:nth-of-type(6):before {
            content: "Tenor";
        }
        .applications-table td:nth-of-type(7):before {
            content: "Amount";
        }
        .applications-table td:nth-of-type(8):before {
            content: "Payment Installment";
        }
        .applications-table td:nth-of-type(8):before {
            content: "Balance";
        }
        .applications-table td:nth-of-type(8):before {
            content: "Interest";
        }
        
        .verify-table td:nth-of-type(1):before {
            content: "LoanId";
        }
        .verify-table td:nth-of-type(2):before {
            content: "Created On";
        }
        .verify-table td:nth-of-type(3):before {
            content: "Monthly Installment";
        }
        .verify-table td:nth-of-type(4):before {
            content: "Amount";
        }
        .verify-table td:nth-of-type(5):before {
            content: "Balance";
        }
        .verify-table td:nth-of-type(6):before {
            content: "Paid Amount";
        }
        
    
}
/* screen sizes 650px and above */
@media only screen and (min-width:650px){

    .graphics img{
        width:60%;
        margin-left:5em;
    }
    button{
        display:inline-block;
        width:40%;
    }

    .showcase{
        margin-top:-7%;
    }

    .feature p {
        font-size: 20px;
    }
    .showcase{
        width:70%;
        margin-left:7.5em;
        
    }
    .call-to-action a{
        text-align:center;
        text-transform: uppercase;
        border-radius:6px;  
    }
    .repayment-btn{
        display:inline-block;
        width:30%;   
    }
    .admin-btn{
        display:inline-block;
        width:30%;
    }
}

/* screen sizes 840px and above */
@media only screen and (min-width:840px){
    .graphics img{
        width:50%;
        margin-left: 9em;
    }
    .call-to-action a{
        width:30%;
        display:inline-block;
    }
    input[type=email],
input[type=password],
input[type=text]{
    padding:.75em;
}
.payments-form{
    width:50%;
}

.history-content{
    width:50%;
}

.verification button{
    display:inline-block;
    width:30%;
}

.verify-user{
    width:30%;
    margin-left:30%; 
}
button{
    display:inline-block;
    width:40%;
}
.form-container{
    width:50%;
}
.showcase{
    grid-area: showcase;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    margin-top: 7em;
    align-content: center;
    margin-left: auto;
    margin-right:auto;
    grid-gap:50px;
    
}
.feature{
    height:50%;
    display:grid;
    align-items: center;
    justify-items: center;
    align-content: center;
}
.feature h3{
    margin:0;
    
}
.feature p{
    margin:0;
    
}
.register-form{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:24px;
    align-items: center;
    justify-content: center;
    margin-top:10em;
}
.fourOfour-page img{
    width:50%;
}
.repayment-btn{
    display:inline-block;
    width:30%;   
}
.admin-btn{
    display:inline-block;
    width:30%;
}


}

/* screen sizes 1024px and above */
@media only screen and (min-width:1024px){
    .container{
        display:grid;
        grid-template-areas: 
        
        "cta graphics "
        "showcase showcase ";
        overflow:hidden;
        width:100%;
    }
    .graphics{
        grid-area: graphics;
       

    }
    .graphics img{
        width:60%;
        margin-right:17em;
        margin-top:1em;
    }
    .call-to-action{
        grid-area: cta;
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        text-align:start;
        margin-left:5em;
        margin-top:2em;
    }
    .call-to-action a{
        text-align:center;
        text-transform: uppercase;
        border-radius:6px;  
    }
    .call-to-action p{
        font-size: 1em;
        margin:0;
    }
    .call-to-action h1{
        margin:0;
    }
    .showcase{
    
        display:grid;
        grid-template-areas:
        "ease fairness flexibility" 
        ;
       
        grid-gap: 30px;
        grid-area: showcase; 
        margin: 1em auto 3em auto;
    }
    .feature{
        height:50%;
        width:200px;
        
       
    }
    .showcase .flexibility {
        margin-left:-2px;
    }
    .feature h3{
        margin:0;
        
    }
    .feature p{
        margin:0;
        font-size:15px;
        
    }
    .show-desktop{
        display:block;
        margin:0 1em 13% 1em;
    }

    .hide-desktop{
        display:none;

    }
    nav ul{
        position:inherit;
        width:auto;
        background: none;
        height:auto;
        display:flex;
        padding-top:0;
    }

    header{
        height:50px;
        padding-top:2em;
    }

    nav ul li{
        float:left;
        margin-right:2em;
        padding:0;
    }

    nav ul li a{
        color:var(--font1);
        background-color: inherit;
        padding:.4em 1em;
        text-align: left;
        text-transform: uppercase;
        
        font-size:11px;
        text-align:center;  

    }
    nav ul li a:hover{
        background:var(--base);
        color:var(--bg);

    }
    .logo{
        margin-left:5em;
    }

    nav ul li:nth-child(5) a{
        background:var(--base);
        text-align: center;
        color:var(--bg);
        padding:.4em;
        border-radius:3px;
    }
    nav ul li:nth-child(6) a{
        
        background:var(--base);
        text-align: center;
        color:var(--bg);
        padding:.4em;
        border-radius:3px;
    }
    .footer{
        margin-bottom:0;
    }

    .register-form{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-gap:20px;
        grid-template-rows: 1fr;
        align-items: center;
        justify-content: center;
        margin-top:10em;
        width: 100vw;
    }

    .confirm--registration{
        width:70%;
       
    }
    

    .toggle-container{
        margin-bottom:7em;
        margin-top: .2em;
    }

    .loan-application img{
        width:20%;
        object-fit: contain;
        margin-left:40%;
    }
    .application-modal{
        width:30%;
        margin:1em auto 1em auto;
    }
    .payments-form{
        width:30%;
        margin-left:30%;
    }
    .history{
        display:grid;
        grid-template-columns:repeat(auto-fit, minmax(0px, 1fr));
        grid-gap:15px;
        width:100%;
        margin: 3em;
    }
    
    
    .repayment-btn{
        display:inline-block;
        width:30%;   
    }
    .admin-btn{
        display:inline-block;
        width:30%;
    }
    
    

   .applications-container{
       display:grid;
       grid-template-columns:repeat(5, 1fr) ;
       grid-gap:15px;
       width:100%;   
   }
   .how-container{
    display:grid;
    grid-template-columns:repeat(5, 1fr) ;
    grid-gap:14px;
    width:100%;   
   }
   .one{
       margin-right:6em;
       
   }
   .applications{
       margin-left:3em;
       
       
       width:200px;
       height:320px;
       
       
   }

   .admin-bar{
    display:grid;
    grid-template-columns:repeat(5, 1fr); 
    
    width:100%;
   }
   button{
       display:inline-block;
       width:auto;
   }
   .status-bar{
       width:100%;
   }
   .container{
       width:100%;
       height:100%;
   }

   header{
       max-width:100%;
   }

   .details{
       max-width:100vw;
   }
   .how-it-works{
       height:100%;
       display:grid;
       grid-template-rows:1fr auto; 
       grid-gap:14px;
   }

   .fourOfour-page img{
    width:50%;
}
    
}
/* screen sizes 2024px and above */

@media only screen and (min-width:2024px){
    .container{
        display:grid;
        grid-template-areas: 
        
        "cta graphics "
        "showcase showcase ";
        overflow:hidden;
        width:100%;
    }
    .graphics{
        grid-area: graphics;
       

    }
    .graphics img{
        width:60%;
        margin-right:17em;
        margin-top:1em;
    }
    .call-to-action{
        grid-area: cta;
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        text-align:start;
        margin-left:5em;
        margin-top:2em;
    }
    .call-to-action a{
        text-align:center;
        text-transform: uppercase;
        border-radius:6px;  
    }
    .call-to-action p{
        font-size: 1em;
        margin:0;
    }
    .call-to-action h1{
        margin:0;
    }
    .showcase{
    
        display:grid;
        grid-template-areas:
        "ease fairness flexibility" 
        ;
       
        grid-gap: 30px;
        grid-area: showcase; 
        margin: 1em auto 3em auto;
    }
    .feature{
        height:50%;
        width:200px;
        
       
    }
    .showcase .flexibility {
        margin-left:-2px;
    }
    .feature h3{
        margin:0;
        
    }
    .feature p{
        margin:0;
        font-size:18px;
        
    }
    .show-desktop{
        display:block;
        margin:0 1em 13% 1em;
    }

    .hide-desktop{
        display:none;

    }
    nav ul{
        position:inherit;
        width:auto;
        background: none;
        height:auto;
        display:flex;
        padding-top:0;
    }

    header{
        height:50px;
        padding-top:2em;
    }

    nav ul li{
        float:left;
        margin-right:2em;
        padding:0;
    }

    nav ul li a{
        color:var(--font1);
        background-color: inherit;
        padding:.4em 1em;
        text-align: left;
        text-transform: uppercase;
        
        font-size:14px;
        text-align:center;  

    }
    nav ul li a:hover{
        background:var(--base);
        color:var(--bg);

    }
    .logo{
        margin-left:5em;
    }

    nav ul li:nth-child(5) a{
        background:var(--base);
        text-align: center;
        color:var(--bg);
        padding:.4em;
        border-radius:3px;
    }
    nav ul li:nth-child(6) a{
        
        background:var(--base);
        text-align: center;
        color:var(--bg);
        padding:.4em;
        border-radius:3px;
    }
    .footer{
        margin-bottom:0;
    }

    .register-form{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-gap:20px;
        grid-template-rows: 1fr;
        align-items: center;
        justify-content: center;
        margin-top:10em;
        width: 100vw;
    }

    .confirm--registration{
        width:70%;
       
    }
    

    .toggle-container{
        margin-bottom:7em;
        margin-top: .2em;
    }

    .loan-application img{
        width:20%;
        object-fit: contain;
        margin-left:40%;
    }
    .application-modal{
        width:30%;
        margin:1em auto 1em auto;
    }
    .payments-form{
        width:30%;
        margin-left:30%;
    }
    .history{
        display:grid;
        grid-template-columns:repeat(auto-fit, minmax(0px, 1fr));
        grid-gap:15px;
        width:100%;
        margin: 3em;
    }
    
    
    .repayment-btn{
        display:inline-block;
        width:30%;   
    }
    .admin-btn{
        display:inline-block;
        width:30%;
    }
    
    

   .applications-container{
       display:grid;
       grid-template-columns:repeat(5, 1fr) ;
       grid-gap:15px;
       width:100%;   
   }
   .how-container{
    display:grid;
    grid-template-columns:repeat(5, 1fr) ;
    grid-gap:14px;
    width:100%;   
   }
   .one{
       margin-right:6em;
       
   }
   .applications{
       margin-left:3em;
       
       
       width:200px;
       height:320px;
       
       
   }

   .admin-bar{
    display:grid;
    grid-template-columns:repeat(5, 1fr); 
    
    width:100%;
   }
   button{
       display:inline-block;
       width:auto;
   }
   .status-bar{
       width:100%;
   }
   .container{
       width:100%;
       height:100%;
   }

   header{
       max-width:100%;
   }

   .details{
       max-width:100vw;
   }
   .how-it-works{
       height:100%;
       display:grid;
       grid-template-rows:1fr auto; 
       grid-gap:14px;
   }

   .fourOfour-page img{
    width:50%;
}
    
}


/* screen sizes 4024px and above */
@media only screen and (min-width:1024px){
    .container{
        display:grid;
        grid-template-areas: 
        
        "cta graphics "
        "showcase showcase ";
        overflow:hidden;
        width:100%;
    }
    .graphics{
        grid-area: graphics;
       

    }
    .graphics img{
        width:60%;
        margin-right:17em;
        margin-top:1em;
    }
    .call-to-action{
        grid-area: cta;
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        text-align:start;
        margin-left:5em;
        margin-top:2em;
    }
    .call-to-action a{
        text-align:center;
        text-transform: uppercase;
        border-radius:6px;  
    }
    .call-to-action p{
        font-size: 1.5em;
        margin:0;
    }
    .call-to-action h1{
        margin:0;
    }
    .showcase{
    
        display:grid;
        grid-template-areas:
        "ease fairness flexibility" 
        ;
       
        grid-gap: 30px;
        grid-area: showcase; 
        margin: 1em auto 3em auto;
    }
    .feature{
        height:50%;
        width:200px;
        
       
    }
    .showcase .flexibility {
        margin-left:-2px;
    }
    .feature h3{
        margin:0;
        
    }
    .feature p{
        margin:0;
        font-size:15px;
        
    }
    .show-desktop{
        display:block;
        margin:0 1em 13% 1em;
    }

    .hide-desktop{
        display:none;

    }
    nav ul{
        position:inherit;
        width:auto;
        background: none;
        height:auto;
        display:flex;
        padding-top:0;
    }

    header{
        height:50px;
        padding-top:2em;
    }

    nav ul li{
        float:left;
        margin-right:2em;
        padding:0;
    }

    nav ul li a{
        color:var(--font1);
        background-color: inherit;
        padding:.4em 1em;
        text-align: left;
        text-transform: uppercase;
        
        font-size:15px;
        text-align:center;  

    }
    nav ul li a:hover{
        background:var(--base);
        color:var(--bg);

    }
    .logo{
        margin-left:5em;
    }

    nav ul li:nth-child(5) a{
        background:var(--base);
        text-align: center;
        color:var(--bg);
        padding:.4em;
        border-radius:3px;
    }
    nav ul li:nth-child(6) a{
        
        background:var(--base);
        text-align: center;
        color:var(--bg);
        padding:.4em;
        border-radius:3px;
    }
    .footer{
        margin-bottom:0;
    }

    .register-form{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-gap:20px;
        grid-template-rows: 1fr;
        align-items: center;
        justify-content: center;
        margin-top:10em;
        width: 100vw;
    }

    .confirm--registration{
        width:70%;
       
    }
    

    .toggle-container{
        margin-bottom:7em;
        margin-top: .2em;
    }

    .loan-application img{
        width:20%;
        object-fit: contain;
        margin-left:40%;
    }
    .application-modal{
        width:30%;
        margin:1em auto 1em auto;
    }
    .payments-form{
        width:30%;
        margin-left:30%;
    }
    .history{
        display:grid;
        grid-template-columns:repeat(auto-fit, minmax(0px, 1fr));
        grid-gap:15px;
        width:100%;
        margin: 3em;
    }
    
    
    .repayment-btn{
        display:inline-block;
        width:30%;   
    }
    .admin-btn{
        display:inline-block;
        width:30%;
    }
    
    

   .applications-container{
       display:grid;
       grid-template-columns:repeat(5, 1fr) ;
       grid-gap:15px;
       width:100%;   
   }
   .how-container{
    display:grid;
    grid-template-columns:repeat(5, 1fr) ;
    grid-gap:14px;
    width:100%;   
   }
   .one{
       margin-right:6em;
       
   }
   .applications{
       margin-left:3em;
       
       
       width:200px;
       height:320px;
       
       
   }

   .admin-bar{
    display:grid;
    grid-template-columns:repeat(5, 1fr); 
    
    width:100%;
   }
   button{
       display:inline-block;
       width:auto;
   }
   .status-bar{
       width:100%;
   }
   .container{
       width:100%;
       height:100%;
   }

   header{
       max-width:100%;
   }

   .details{
       max-width:100vw;
   }
   .how-it-works{
       height:100%;
       display:grid;
       grid-template-rows:1fr auto; 
       grid-gap:14px;
   }

   .fourOfour-page img{
    width:50%;
}
    
}

